.App {
  /* text-align: center; */
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  /* color: white; */
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  display: flex;
  flex: 1;
  max-width: 1280px;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
  align-items: left;
}

@media only screen and (min-width: 768px) {
  .App-content {
    flex-direction: row;
  }
}
@media only screen and (max-width: 600px) {
  .App-content {
    flex-direction: column;
  }
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
