/* .lobby {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    margin-top: 80px;
    max-height: 200px;
  } */
  
/* .lobby-line {
display: flex;
flex-direction: row;
justify-content: left;
align-items:center;
} */

/* .game-description {
flex: 2.5;
} */

/* .pawn {
display: flex;
height: 25px;
margin-bottom: 8px;
vertical-align: bottom;
} */

/* .join-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #51a4e8;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .join-button:hover {
    background-color: #4d8cbf;
} */